{
	"printWidth": 100,
	"tabWidth": 4, 
	"useTabs": true,
	"semi": true,
	"singleQuote": false,
	"quoteProps": "as-needed",
	"trailingComma": "es5", 
	"bracketSpacing": true,
	"bracketSameLine": false, 
	"endOfLine": "lf", 
	"singleAttributePerLine": false,
	"plugins": ["prettier-plugin-tailwindcss"],
	"tailwindConfig": "./frontend/tailwind.config.js"
}
